{
 "openapi": "3.0.3",
 "servers": [
  {
   "url": "https://api-rod.broma16.ru/api/",
   "description": "Stage"
  }
 ],
 "info": {
  "version": "11.10.24",
  "title": "ROD API RU",
  "x-title-i18n": {
   "ru": "ROD RU API"
  },
  "x-logo": {
   "url": "https://broma16.com/assets/img/logo.svg"
  },
  "description": "# Руководство по использованию\n\n## Возможности\nДанное API позволяет:\n- Получить список и статусы репертуара в системе\n- Отправить готовый каталог объектов права в XLSX/CSV/CWR форматах\n- Создать, отредактировать и отправить по готовности черновик релиза/произведения\n- Получение отчета статистики по прослушиваниям за период\n\n## Лимиты\nСистема готова принимать сотни/тысячи релизов в день.\\\nВ случае появления лимитов, для информирования об их превышении используется стандартный HTTP код 429.\\\nВ том случае, если предполагается выгрузка более, чем 10 Гб контента (аудио, обложки) в сутки, во избежание непредвиденных ошибок необходимо уведомить службу поддержки\\\nТипы релиза (Сингл, RBT, RT, TikTok) - поддерживают только 1 аудио\\\nТипы релиза (Альбом и Компиляция)- поддерживают от 2 до 40 аудио\\\nТип релиза (EP)- поддерживают от 2 до 7 аудио\n\n## Авторизация\n\nУчетная запись (пользователь) для авторизации на API предоставляется поддержкой.\nОдна учетная запись позволяет передавать репертуар для любых партнеров (аккаунтов), доступных данному пользователю.\n\nЗапросы API используют [JWT авторизацию](https://jwt.io/) с короткоживущим Access Token и более длительно живущим Refresh Token.\nСоответственно, рекомендуется использовать обновление токена для поддержания авторизации вместо получения нового каждый раз.\n\n## Рабочий процесс\n\n1. Проходим авторизацию\\\n__POST__ /auth/login -> возвращает токены доступа (access_token и refresh_token) \n- в дальнейшем используются в запросах в шапке X-Access-Token.\\\n__POST__ /auth/refresh - используется для получения актуального access_token, если запросы начали отдавать 401 статус\n2. Загрузить актуальные справочники:\\\nидентификаторы жанров \\__GET__ /dictionaries/genres?object_type=music\\\nидентификаторы стран \\__GET__ /dictionaries/country-code\\\nидентификаторы языка \\__GET__ /dictionaries/languages\\\nидентификаторы типов релиза \\__GET__ /dictionaries/release-types?category=audio&language=ru\\\nдоступные витрины \\__GET__ /dictionaries/outlets?language=ru&release_type_id={Идентификатор типа релиза}\\\nгде в release_types - указан код типа релиза которому доступна данная витрина\n3. Создать карточку релиза\\\n__POST__ /repertoire/release -> data.id возвращает идентификатор релиза - Дальнейшие запросы на дополнение информации по релизу должны быть связаны с этим идентификатором\\\nЕсли релиз является материалом переноса \n- Отправляется необязательное поле isTransferRelease = true (который регулирует ряд особенностей переноса релиза)\n* Поле `performers` принимает следующие форматы: Строка - Наименование артиста/Массив строк Наименований артистов/Массив объектов с id артистов (см. раздел взаимодействия с Репертуар.Артист) \n* Параметр `various_artists` устанавливается в значение `true`, если релиз **не является однотрековым материалом** и содержит **5 или более различных артистов**.\nВ этом случае в поле `performers` передается значение: \"Various Artists\" - строкой.\nВо всех остальных случаях `various_artists` передается со значением `false`, а поле `performers` заполняется в соответствии с обычными правилами.\n\n4. Создать фонограммы и подгрузить файлы\\\n__POST__ /repertoire/release/{releaseId}/recording/upload -> data.id возвращает идентификатор трека\nТреки создаются в порядке загрузки, если нужно переупорядочить:\\\n__POST__ /repertoire/release/{releaseId}/reorder\n5. Добавить метаданные треков (Обязательно для каждого загруженного трека)\\\n__PUT__ /repertoire/release/{releaseId}/recording/{recordingId}\n- Поле performers принимает следующие форматы: Строка - Наименование артиста/Массив строк Наименований артистов/Массив объектов с id артистов (см. раздел взаимодействия с Репертуар.Артист)\n- Поле main_performer принимает следующие форматы: Строка - Наименование артиста/Массив строк Наименований артистов/Массив объектов с id артистов (см. раздел взаимодействия с Репертуар.Артист)\n- Поле featured_artist принимает следующие форматы: Строка - Наименование артиста/Массив строк Наименований артистов/Массив объектов с id артистов (см. раздел взаимодействия с Репертуар.Артист)\n6. Существует возможность добавить дополнительный релиз (TikTok/RingtoneRelease)\\\n__POST__ /repertoire/release/additional\\\nи отредактировать его в дальнейшем\\\n__PUT__ /repertoire/release/additional/{additionalID}\\\nудалить дополнительный релиз\\\n__DELETE__ /assets/draft/release/{additionalID}/remove\n7. Добавление данных авторов и авторских обществ\\\nПеред указанием данных авторского общества необходимо создать автора фонограммы\\\n__POST__ /repertoire/release/{releaseId}/recording/{recordingId}/composition\\\n   (Метод в ответе возвращает идентификатор автора)\\\nМетод на поиск авторских обществ для привязки к автору \\\n__GET__ /accounts/societies\\\nУказание данных мандата с авторским обществом для конкретного автора \\\n__POST__ /repertoire/release/{releaseId}/recording/{recordingId}/contributors/{contributorId}\\\n   Территории общества заполняются согласно данным из мандата между артистом и обществом. \\\n   В территориях общества можно указать: \\\n   \\- конкретный список территорий, где действует общество \\\n   \\- весь мир, исключая страны \\\n   \\- весь мир \\\nВ данном случае параметр type отвечает за привязку общества к автору или издателю материала \\\n   (Для удаления/редактирования/получения авторских обществ - используйте методы описанные в соотвествующем разделе)\\\n8. Добавить информацию о произведениях, на которых основаны треки\\\nОбратите внимание - шаг обязателен, и в случае его пропуска релиз не будет принят\\\n__POST__ /repertoire/release/{releaseId}/recording/{recordingId}/composition\n9. Добавить обложку релиза\\\n__POST__ /repertoire/release/{releaseId}/cover/upload\n10. Отправить витрины закреплённые за релизом \\\n__POST__ repertoire/release/{releaseId}/distribution \\\nПараметр `delivery_start_time` - \"Дата отгрузки релиза на витрины\" - доступен аккаунту по отдельной договоренности с площадкой. \nТакже в рамках привилегии взаимодействия с \"датой отгрузки на витрины\" параметр `distribution_outlets` предоставляет возможность указать отдельно витрины с персональной датой и временем отгрузки. \\\n- если данные релиза были обновлены, то поле к заполнению `updated_date` принимает дату обновления данных материала - значение это поля не может быть раньше даты первой публикации релиза - `created_date`\n11. Отправить на модерацию. После отправки на модерацию релиз исчезает из списка черновиков, и в дальнейшем появляется в списке репертуара и учитывается в статистики после обработки в системе (1-3 дня)\\\n__POST__ /repertoire/release/{releaseId}/send-moderate\n12. Отслеживать появление релиза в списках репертуара\n\n## Критерии готовности релиза\n\nВызов `send-moderate` на prod окружении проверяет следующие критерии готовности и возвращает 422, если не выполнен любой из них:\n- `account_id` автора релиза указан и у пользователя, отправляющего релиз есть права управления этим аккаунтом\n- Число треков релиза > 0\n- У релиза есть обложка\n- У всех треков есть аудио\n- У всех треков есть произведения\n- У всех произведений указано не менее 1 контрибьютора\n- У всех контрибьюторов указаны роли и доли\n- У всех произведений есть хотя бы 1 контрибьютор, у которого есть роль равна C/A/CA (любая одна из трех у любого контрибьютора - достаточно)\n- Сумма долей контрибьюторов в каждом произведении = 100%\n- Тип родительского релиза не конфликтует с дочерними релизами\n- Обязательные поля методов заполнены\n\nРелизы с типом (Сингл, RBT, RT, TikTok) - идентификаторы 51, 70, 43, 42:\n- Поддерживают только 1 аудио\n- Название фонограммы и название релиза должны совпадать\n- Сабтайтл (версия) фонограммы и сабтайтл (версия) релиза должны совпадать\n- Исполнители фонограммы в блоке ввода \"Исполнитель релиза\" и исполнители релиза должны совпадать\n- Для RBT, RT, TikTok - размер фрагмента не должен превышать длительность трека\n\nДопускается передача релиза без даты публикации и витрин публикации. Такой релиз будет импортирован, но:\n- флаг \"Присвоить автоматически\" для EAN/ISRC игнорируется, автоматически идентификаторы не назначаются. Как следствие, релиз после импорта будет находиться в статусе \"Не готов\" до внесения идентификаторов или принятия решения об отгрузке.\n- если не указаны витрины и указаны идентификаторы, отгрузка релиза автоматически не будет произведена;\n\n## Создание произведения\n1. Проходим авторизацию\\\n   __POST__ /auth/login -> access_token возвращает токены доступа -> в запросах X-Access-Token\n2. Запросить все справочники:\\\n   __POST__ /dictionaries/composition-types - идентификаторы типов произведения\\\n   __GET__ /dictionaries/genres?object_type=music - идентификаторы жанров \\\n   __GET__ /dictionaries/country-code - идентификаторы стран\n3. Создать произведение:\\\n   __POST__  /repertoire/composition -> возвращает идентификатор произведения\n4. Добавить авторов произведения:\\\n   __POST__ /repertoire/composition/{compositionId}/contributors\n5. Добавление авторов и авторских обществ\\\n   Перед созданием авторского общества необходимо создать автора произведения пункт 4 см. выше.\\\n   Метод на поиск авторских обществ для привязки к автору \\\n   __GET__ /accounts/societies\\\n   Создание авторского общества для конкретного автора \\\n   __POST__ /repertoire/composition/{compositionId}/contributors/{contributorId}\\\n   Территории общества заполняются согласно данным из мандата между артистом и обществом. \\\n   В территориях общества можно указать: \\\n   \\- конкретный список территорий, где действует общество \\\n   \\- весь мир, исключая страны \\\n   \\- весь мир \\\n   В данном случае параметр type отвечает за привязку общества к автору или издателю материала\\\n   (Для удаления/редактирования/получения авторских обществ - используйте методы описанные в соотвествующем разделе)\\\n6. Добавить лирику произведения:\\\n  __PUT__ /repertoire/composition/{compositionId}/lyrics\n7. Информация о исполнении произведения:\\\n  __POST__ /repertoire/composition/{compositionId}/recording\n- Поле main_performer принимает следующие форматы: Строка - Наименование артиста/Массив строк Наименований артистов/Массив объектов с id артистов (см. раздел взаимодействия с Репертуар.Артист)\n- Поле featured_artist принимает следующие форматы: Строка - Наименование артиста/Массив строк Наименований артистов/Массив объектов с id артистов (см. раздел взаимодействия с Репертуар.Артист)\n8. Отправить на модерацию:\\\n   __POST__ /repertoire/composition/{compositionId}/step - с шагом \"completed\"\n\n## Совместная работа\n\nНесколько учетных записей могут работать над одним черновиком, если у них обоих есть доступ к аккаунту в системе.\nПри отправке изменений записывается последнее (последняя правка считается актуальной).\n\n## Отчеты по статистике\n1. Получить список витрин для передачи в запросе необходимого сочетания (запрос далее - параметр outlets) \\\n   __GET__ /stat/v1/statistics/outlets - Возвращает код и наименование витрины (в строке массива необходимо передать код)\n\n2. Отправить запрос на создание отчета - Обрабатывается один отчет за раз (Так как организована система очередей) \\\n   __POST__ /stat/v1/statistics/accounts/{accountId}/report - data:Возвращает идентификатор отчета\n   \n3. По полученному идентификатору из шага выше - запрашиваем статус обработки отчета \\\n   __GET__ /stat/v1/statistics/accounts/{accountId}/report/{id}\n\n4. Когда запрос принимает статус data.status -> \"done\" в поле data.output_file -> приходит ссылка на скачивание файла \\\n   __GET__ /stat/v1/statistics/accounts/{accountId}/report/{id}\n\n## Загрузка каталога\n1. Инициализируем загрузку каталога\\\n   __POST__ /repertoire/account/{accountId/catalog - Возвращает идентификатор записи каталога для дальнейшего взаимодействия с загрузкой файла и отправки\\\n2. Загрузка файлов по одному с привязкой к каталогу\\\n   __POST__ /repertoire/account/{accountId}/catalog/{catalogId}/file - Возвращает объект файла\\\n3. Отправить каталог на выгрузку\\\n   __POST__ /repertoire/account/{accountId/catalog}/{catalogId}/ - Отправляет сборку файлов и метаданных в обработку\\\n\n## Взаимодействия с Репертуар.Артист\n\nДоступ к данному функционалу ограничен и предоставляется по согласованию. \\\nПо умолчанию запросы к API возвращают ошибку 403. Для получения доступа, пожалуйста, обратитесь в техническую поддержку.\n\n1. Ранее отгруженных артистов можно получить в запросе на поиск. Где возвращается список записей как с уже обработанными артистами, так и артистами которые были созданы в рамках сессии формирования материалов на отгрузку. \\\n   __GET__ /account/{accountId}/artist/searche \n2. Записи пришедшие с `artist_id` - можно сразу использовать в материалах - передавая значение этого поля в массивы исполнителей относительно релизов/фонограмм/произведений.\nЕсли же запись пришла с пустым `artist_id` - сначала необходимо инициализировать ее в рамках сессии формирования материалов на отгрузку текущего дня. Через метод на создание артиста. \\\n   __POST__ /account/{accountId}/artist/ \\\nНа вход в данном случае подаются два поля `name` и `artist_h11` - В ответ приходит коллекция сведений об артисте с внутренним идентификатором в поле `artist_id` - уже его необходимо использовать в качестве значения элемента исполнителя. \\\nЕсли необходимый артист не пришел в результатах поиска - метод на создание принимает всю доступную коллекцию сведений об артисте отраженную в методе. \n3. Запись артиста доступна к редактированию в рамках сессии формирования материалов на отгрузку текущего дня. Далее запись блокируется до полной отгрузки на витрины и в дальнейшем доступна только на дополнение, но не редактирование. \\\n   __PUT__ /account/{accountId}/artist/{artist_id}\n4. Поддержка текстового формата ввода исполнителей в поля создания релиза/фонограммы/произведения (Без связи с уже отгруженными исполнителями и зарегистрированными на площадке) - остается, но переходит в множественный формат (Передача массивом)."
 },
 "tags": [
  {
   "name": "Авторизация"
  },
  {
   "name": "Пользователь"
  },
  {
   "name": "Репертуар.Релиз"
  },
  {
   "name": "Репертуар.Артист"
  },
  {
   "name": "Репертуар.Каталог"
  },
  {
   "name": "Авторские общества"
  },
  {
   "name": "Словари"
  },
  {
   "name": "Статистика"
  },
  {
   "name": "Объекты"
  }
 ],
 "paths": {
  "/account/{accountId}/artist/": {
   "post": {
    "tags": [
     "Репертуар.Артист"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Создать артиста",
    "parameters": [
     {
      "name": "accountId",
      "required": true,
      "in": "path",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "name"
        ],
        "properties": {
         "type": {
          "description": "Тип взаимодействия с артистом",
          "type": "integer",
          "example": "1|2|3"
         },
         "name": {
          "description": "Наименование псевдонима",
          "type": "string",
          "example": "Наименование"
         },
         "artist_h11": {
          "description": "Внешний идентификатор - Передается только в случае, если артист был ранее отгружен и в методе на поиск пришел его внешний идентификатор.",
          "type": "integer",
          "example": 15
         },
         "first_name": {
          "description": "Имя псевдонима",
          "type": "string",
          "format": "nullable",
          "example": "first_name"
         },
         "last_name": {
          "description": "Фамилия псевдонима",
          "type": "string",
          "format": "nullable",
          "example": "last_name"
         },
         "ipi_name_number": {
          "description": "ipi_name_number",
          "type": "string",
          "format": "nullable"
         },
         "ipn": {
          "description": "ipn",
          "type": "string",
          "format": "nullable"
         },
         "isni": {
          "description": "isni",
          "type": "string",
          "format": "nullable"
         },
         "outlets": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "outlet": {
             "description": "Наименование витрины (GET dictionaries/outlets)",
             "type": "string",
             "example": "outlet"
            },
            "outlet_id": {
             "description": "Идентификатор витрины  (GET dictionaries/outlets)",
             "type": "integer",
             "example": "outlet"
            },
            "site": {
             "description": "Ссылка на профиль артиста на витрине",
             "type": "string",
             "example": "site"
            },
            "id_outlet_user": {
             "description": "Идентификатор пользователя на витрине",
             "type": "string",
             "example": "id_outlet_user"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/ArtistDataResponsePost"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "403": {
      "$ref": "#/components/responses/ForbiddenErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/account/{accountId}/artist/{artist_id}": {
   "put": {
    "tags": [
     "Репертуар.Артист"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Обновить артиста",
    "parameters": [
     {
      "name": "accountId",
      "required": true,
      "in": "path",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "artist_id",
      "required": true,
      "in": "path",
      "description": "Идентификатор артиста",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "name"
        ],
        "properties": {
         "type": {
          "description": "Тип взаимодействия с артистом",
          "type": "integer",
          "example": "1|2|3"
         },
         "name": {
          "description": "Наименование псевдонима",
          "type": "string",
          "example": "Наименование"
         },
         "first_name": {
          "description": "Имя псевдонима",
          "type": "string",
          "format": "nullable",
          "example": "first_name"
         },
         "last_name": {
          "description": "Фамилия псевдонима",
          "type": "string",
          "format": "nullable",
          "example": "last_name"
         },
         "ipi_name_number": {
          "description": "ipi_name_number",
          "type": "string",
          "format": "nullable"
         },
         "ipn": {
          "description": "ipn",
          "type": "string",
          "format": "nullable"
         },
         "isni": {
          "description": "isni",
          "type": "string",
          "format": "nullable"
         },
         "outlets": {
          "type": "array",
          "items": {
           "type": "object",
           "properties": {
            "id": {
             "type": "string",
             "example": "id"
            },
            "outlet": {
             "description": "Наименование витрины (GET dictionaries/outlets)",
             "type": "string",
             "example": "outlet"
            },
            "outlet_id": {
             "description": "Идентификатор витрины  (GET dictionaries/outlets)",
             "type": "integer",
             "example": "outlet"
            },
            "site": {
             "description": "Ссылка на профиль артиста на витрине",
             "type": "string",
             "example": "site"
            },
            "id_outlet_user": {
             "description": "Идентификатор пользователя на витрине",
             "type": "string",
             "example": "id_outlet_user"
            }
           }
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/ArtistDataResponsePost"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "403": {
      "$ref": "#/components/responses/ForbiddenErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   },
   "get": {
    "tags": [
     "Репертуар.Артист"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Получить артиста",
    "parameters": [
     {
      "name": "accountId",
      "required": true,
      "in": "path",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "artist_id",
      "required": true,
      "in": "path",
      "description": "Идентификатор артиста",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/ArtistDataResponsePost"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "403": {
      "$ref": "#/components/responses/ForbiddenErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/account/{accountId}/artist/searche": {
   "get": {
    "tags": [
     "Репертуар.Артист"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Поиск артиста",
    "parameters": [
     {
      "name": "accountId",
      "required": true,
      "in": "path",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "searche",
      "required": true,
      "in": "query",
      "description": "Поисковой запрос",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Положительный",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "artist_id": {
              "type": "string"
             },
             "name": {
              "type": "string"
             },
             "artist_h11": {
              "type": "integer"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "403": {
      "$ref": "#/components/responses/ForbiddenErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/account/{accountId}/artist/outlets/search": {
   "get": {
    "tags": [
     "Репертуар.Артист"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Поиск артиста на витрине",
    "parameters": [
     {
      "name": "accountId",
      "required": true,
      "in": "path",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer"
      }
     },
     {
      "name": "searche",
      "required": true,
      "in": "query",
      "description": "Поисковой запрос",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Положительный",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "outlets_artist": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "string"
             },
             "name": {
              "type": "string"
             },
             "image": {
              "type": "string"
             },
             "url": {
              "type": "string"
             },
             "followers": {
              "type": "string"
             },
             "genres": {
              "type": "string"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "403": {
      "$ref": "#/components/responses/ForbiddenErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/": {
   "post": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Создать релиз",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "account_id",
         "genres",
         "performers",
         "release_type_id",
         "title",
         "p_line",
         "c_line",
         "date_p_line",
         "date_c_line"
        ],
        "properties": {
         "title": {
          "required": true,
          "description": "Заголовок релиза",
          "type": "string",
          "example": 1231232
         },
         "subtitle": {
          "description": "Подзаголовок релиза",
          "type": "string",
          "format": "nullable"
         },
         "release_type_id": {
          "required": true,
          "description": "Идентификатор типа релиза - из запроса справочника",
          "type": "integer",
          "format": "int32",
          "example": 2
         },
         "performers": {
          "required": true,
          "description": "Executor",
          "type": "array",
          "items": {
           "type": "string",
           "description": "Исполнитель (Должен соотвествовать одному из авторов в дальнейших шагах)",
           "example": "910ee3b8-d6a7-4c1e-9b8f-6820737aa8f6"
          }
         },
         "genres": {
          "required": true,
          "description": "Жанры (Выберите не более трех жанров)",
          "type": "array",
          "items": {
           "type": "string",
           "example": "Acid Jazz"
          }
         },
         "grid": {
          "description": "GRID",
          "type": "string",
          "format": "nullable"
         },
         "ean": {
          "description": "EAN",
          "type": "string",
          "format": "nullable"
         },
         "account_id": {
          "required": true,
          "description": "Идентификатор аккаунта",
          "type": "integer",
          "format": "int32",
          "example": 2904
         },
         "catalog_number": {
          "description": "Номер каталога",
          "type": "string",
          "format": "nullable"
         },
         "generate_catalog_number": {
          "description": "автоматическая генерация каталожного номера (Если принимает положительное значение - 'catalog_number' не учитывается)",
          "type": "boolean",
          "example": true
         },
         "generate_ean": {
          "description": "автоматическая генерация ean номера (Если принимает положительное значение - 'ean' не учитывается)",
          "type": "boolean",
          "example": true
         },
         "isTransferRelease": {
          "description": "флаг о том, что материал является переносом релиза",
          "type": "boolean",
          "example": true
         },
         "p_line": {
          "required": true,
          "description": "p_line",
          "type": "string",
          "example": "p_line"
         },
         "c_line": {
          "required": true,
          "description": "c_line",
          "type": "string",
          "example": "c_line"
         },
         "date_p_line": {
          "required": true,
          "description": "Год регистрации p-line",
          "type": "string",
          "example": 2024
         },
         "date_c_line": {
          "required": true,
          "description": "Год регистрации с-line",
          "type": "string",
          "example": 2024
         },
         "various_artists": {
          "description": "Множество исполнителей",
          "type": "boolean",
          "format": "nullable"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/ReleaseDataResponsePost"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/composition": {
   "post": {
    "tags": [
     "Репертуар.Произведение"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Добавить отдельное произведение",
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "title",
         "created_country_id",
         "created_date",
         "account_id",
         "composition_type_id"
        ],
        "properties": {
         "title": {
          "description": "Заголовок",
          "type": "string",
          "required": true
         },
         "subtitle": {
          "description": "Подзаголовок",
          "type": "string"
         },
         "alternative_title": {
          "description": "Альтернативное описание",
          "type": "string"
         },
         "composition_type_id": {
          "required": true,
          "description": "Идентификатор типа произведения",
          "type": "integer"
         },
         "iswc": {
          "description": "Идентификатор",
          "type": "string"
         },
         "created_country_id": {
          "required": true,
          "description": "Идентификатор страны создания",
          "type": "integer"
         },
         "genres": {
          "description": "Жанры (Выберите не более трех жанров)",
          "type": "array",
          "items": {
           "type": "string",
           "example": "Acid Punk"
          }
         },
         "created_date": {
          "required": true,
          "description": "Дата создания"
         },
         "account_id": {
          "required": true,
          "description": "Идентификатор аккаунта",
          "type": "integer"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/CompositionDataResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/accounts/{accountId}/assets/drafts/all": {
   "get": {
    "tags": [
     "Черновики"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Получить список черновиков релизов и произведений",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "accountId",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Номер страницы для разбивки результатов на страницы. Если не передано, ответ содержит первую страницу",
      "name": "page",
      "schema": {
       "type": "integer"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Количество результатов на 1 странице. Если не пройдено, возвращается 20 результатов. Не рекомендуется использовать лимит, превышающий 500",
      "name": "limit",
      "schema": {
       "type": "integer"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Список",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string",
           "example": "ok"
          },
          "current_page": {
           "type": "integer",
           "example": 1
          },
          "pages": {
           "type": "integer",
           "example": 2
          },
          "total": {
           "type": "integer",
           "example": 11
          },
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "type": "integer",
              "example": 918
             },
             "title": {
              "type": "string",
              "example": "Release"
             },
             "step": {
              "type": "string",
              "example": "tracks"
             },
             "type_id": {
              "type": "string",
              "example": "51"
             },
             "performers": {
              "type": "string",
              "example": "Release"
             },
             "updated_at": {
              "type": "string",
              "format": "date-time",
              "example": "2025-04-01T11:23:52Z"
             },
             "draft_type": {
              "type": "string",
              "example": "release"
             },
             "authors": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "title": {
                 "type": "string",
                 "example": "Release"
                },
                "pivot": {
                 "type": "object",
                 "properties": {
                  "composition_id": {
                   "type": "integer",
                   "example": 737
                  },
                  "author_id": {
                   "type": "integer",
                   "example": 1183
                  }
                 }
                }
               }
              }
             },
             "recording_performers": {
              "type": "array",
              "items": {
               "type": "object",
               "properties": {
                "title": {
                 "type": "string",
                 "example": "Composition"
                }
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/composition/{compositionId}/contributors": {
   "post": {
    "tags": [
     "Репертуар.Произведение"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Добавить авторов к произведению",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "description": "Идентификатор произведения",
      "name": "compositionId",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "properties": {
         "contributors": {
          "type": "array",
          "items": {
           "oneOf": [
            {
             "type": "object",
             "properties": {
              "id": {
               "description": "Идентификатор сущности прав",
               "type": "integer"
              },
              "title": {
               "required": true,
               "type": "string",
               "description": "Наименование автора",
               "example": "John Doe"
              },
              "ownership": {
               "required": true,
               "type": "string",
               "description": "Процент права автора",
               "example": "50.00"
              },
              "publisher": {
               "required": true,
               "type": "string",
               "description": "Наименование издателя",
               "example": "Publisher Name"
              },
              "publisher_share": {
               "required": true,
               "type": "string",
               "description": "Процент права издателя",
               "example": "50.00"
              },
              "contributor_author_id": {
               "type": "string",
               "description": "ID артиста - определяется методом создания артиста",
               "example": "910ee3b8-d6a7-4c1e-9b8f-6820737aa8f6"
              },
              "roles": {
               "required": true,
               "type": "array",
               "description": "Массив ролей автора. A - автор слов, C - автор музыки, CA - автор слов и музыки, AR - арранжировщик, AD - адаптор, TR - переводчик. У произведения должен быть хотя бы 1 автор слов или 1 автор музыки для его успешной обработки",
               "minItems": 1,
               "items": {
                "type": "string",
                "enum": [
                 "A",
                 "C",
                 "CA",
                 "AR",
                 "AD",
                 "TR"
                ]
               }
              },
              "controlled_by_submitter": {
               "description": "Собирает ли сторона-отправитель авторские за эту долю (автора и, при наличии, издателя)",
               "type": "integer",
               "enum": [
                0,
                1
               ]
              }
             },
             "required": [
              "title",
              "ownership",
              "roles",
              "controlled_by_submitter"
             ]
            }
           ]
          }
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkAuthResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     }
    }
   }
  },
  "/repertoire/composition/{compositionId}/recording": {
   "post": {
    "tags": [
     "Репертуар.Произведение"
    ],
    "summary": "Создать фонограмму",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "description": "Идентификатор произведения",
      "name": "compositionId",
      "schema": {
       "type": "integer",
       "example": 1
      }
     },
     {
      "in": "query",
      "required": true,
      "description": "Заголовок",
      "name": "title",
      "schema": {
       "type": "string",
       "example": "test"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Сабтайтл",
      "name": "subtitle",
      "schema": {
       "type": "string",
       "example": "test"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Жанры (Выберите не более трех жанров)",
      "name": "genres",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "example": "Acid Jazz"
       }
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Дата создания",
      "name": "created_date",
      "schema": {
       "type": "string",
       "format": "date",
       "example": "2022-04-06"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "isrc",
      "name": "isrc",
      "schema": {
       "type": "string",
       "example": "isrc"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "catalog number",
      "name": "catalog_number",
      "schema": {
       "type": "string",
       "example": 124578
      }
     },
     {
      "in": "query",
      "required": true,
      "description": "Основные исполнители - принимает форматы наименование/идентификатор артиста",
      "name": "main_performer",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "description": "Artist ID",
        "example": "910ee3b8-d6a7-4c1e-9b8f-6820737aa8f6"
       }
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Страна создания",
      "name": "created_country_id",
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": 257
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Включенные исполнители - принимает форматы наименование/идентификатор артиста",
      "name": "featured_artist",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "description": "Artist ID",
        "example": "910ee3b8-d6a7-4c1e-9b8f-6820737aa8f6"
       }
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Продюсер",
      "name": "producer",
      "schema": {
       "type": "string",
       "format": "nullable"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Ответ",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string",
           "example": "ok"
          },
          "data": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "example": "основная"
            },
            "subtitle": {
             "type": "string",
             "example": "test",
             "format": "nullable"
            },
            "performers": {
             "type": "string",
             "format": "nullable"
            },
            "genres": {
             "type": "array",
             "items": {
              "type": "string"
             }
            },
            "created_date": {
             "type": "string",
             "format": "date",
             "example": "2023-10-01"
            },
            "created_country_id": {
             "type": "integer",
             "format": "int32",
             "example": 4
            },
            "language": {
             "type": "integer",
             "format": "int32",
             "example": 4
            },
            "parental_warning_type": {
             "type": "string",
             "format": "nullable"
            },
            "isrc": {
             "type": "string",
             "example": "te-st5-46-46545"
            },
            "sort": {
             "type": "string",
             "format": "nullable"
            },
            "main_performer": {
             "type": "array",
             "items": {
              "oneOf": [
               {
                "type": "object",
                "properties": {
                 "artist_id": {
                  "type": "string",
                  "example": "e5d46bd5-662c-45cd-8b49-c8d5eca7de97"
                 },
                 "artist_h11": {
                  "type": "integer",
                  "example": 457896
                 },
                 "name": {
                  "type": "string",
                  "example": "Artst"
                 }
                }
               },
               {
                "type": "string",
                "example": "Artst"
               }
              ]
             }
            },
            "party_id": {
             "type": "string",
             "example": "test"
            },
            "featured_artist": {
             "format": "nullable",
             "type": "array",
             "items": {
              "oneOf": [
               {
                "type": "object",
                "properties": {
                 "artist_id": {
                  "type": "string",
                  "example": "e5d46bd5-662c-45cd-8b49-c8d5eca7de97"
                 },
                 "artist_h11": {
                  "type": "integer",
                  "example": 457896
                 },
                 "name": {
                  "type": "string",
                  "example": "Artst"
                 }
                }
               },
               {
                "type": "string",
                "example": "Artst"
               }
              ]
             }
            },
            "producer": {
             "type": "string",
             "format": "nullable"
            },
            "generate_isrc": {
             "type": "boolean",
             "example": false
            },
            "collect_rewards": {
             "type": "string",
             "format": "nullable"
            },
            "uuid_draft": {
             "type": "string"
            },
            "updated_at": {
             "type": "string",
             "example": "2023-10-13T08:41:00.000000Z"
            },
            "created_at": {
             "type": "string",
             "example": "2023-10-13T08:41:00.000000Z"
            },
            "id": {
             "type": "integer",
             "format": "int32",
             "example": 398
            },
            "catalog_number": {
             "type": "string",
             "example": "t124578"
            },
            "generate_catalog_number": {
             "type": "boolean",
             "format": "nullable"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/composition/{compositionId}/recording/{recordingId}/remove": {
   "delete": {
    "tags": [
     "Репертуар.Произведение"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Удалить фонограмму",
    "parameters": [
     {
      "in": "query",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "description": "Идентификатор фонограммы",
      "name": "recordingId",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "compositionId",
      "schema": {
       "type": "integer",
       "example": 1029
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Ответ",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "description": "Статус ответа",
           "type": "string"
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     }
    }
   }
  },
  "/repertoire/composition/{compositionId}/recording/{recordingId}": {
   "put": {
    "tags": [
     "Репертуар.Произведение"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Обновить информацию о фонограмме",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "compositionId",
      "description": "Идентификатор произведения",
      "schema": {
       "type": "integer",
       "example": 1
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "recordingId",
      "description": "Идентификатор фонограммы",
      "schema": {
       "type": "integer",
       "example": 5
      }
     },
     {
      "in": "query",
      "required": true,
      "description": "Заголовок",
      "name": "title",
      "schema": {
       "type": "string",
       "example": "test"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Сабтайтл",
      "name": "subtitle",
      "schema": {
       "type": "string",
       "example": "test"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Жанры (Выберите не более трех жанров)",
      "name": "genres",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "example": "Acid Jazz"
       }
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Дата создания",
      "name": "created_date",
      "schema": {
       "type": "string",
       "format": "date",
       "example": "2022-04-06"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "isrc",
      "name": "isrc",
      "schema": {
       "type": "string",
       "example": "isrc"
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "catalog number",
      "name": "catalog_number",
      "schema": {
       "type": "string",
       "example": 9464
      }
     },
     {
      "in": "query",
      "required": true,
      "description": "Основные исполнители - принимает форматы наименование/идентификатор артиста",
      "name": "main_performer",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "description": "Artist ID",
        "example": "910ee3b8-d6a7-4c1e-9b8f-6820737aa8f6"
       }
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Страна создания",
      "name": "created_country_id",
      "schema": {
       "type": "integer",
       "format": "int32",
       "example": 257
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Включенные исполнители - принимает форматы наименование/идентификатор артиста",
      "name": "featured_artist",
      "schema": {
       "type": "array",
       "items": {
        "type": "string",
        "description": "Artist ID",
        "example": "910ee3b8-d6a7-4c1e-9b8f-6820737aa8f6"
       }
      }
     },
     {
      "in": "query",
      "required": false,
      "description": "Продюсер",
      "name": "producer",
      "schema": {
       "type": "string",
       "format": "nullable"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Ответ",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string",
           "example": "ok"
          },
          "data": {
           "type": "object",
           "properties": {
            "title": {
             "type": "string",
             "example": "основная"
            },
            "subtitle": {
             "type": "string",
             "example": "test",
             "format": "nullable"
            },
            "performers": {
             "type": "string",
             "format": "nullable"
            },
            "genres": {
             "type": "array",
             "items": {
              "type": "string"
             }
            },
            "created_date": {
             "type": "string",
             "format": "date",
             "example": "2023-10-01"
            },
            "created_country_id": {
             "type": "integer",
             "format": "int32",
             "example": 4
            },
            "language": {
             "type": "integer",
             "format": "int32",
             "example": 4
            },
            "parental_warning_type": {
             "type": "string",
             "format": "nullable"
            },
            "isrc": {
             "type": "string",
             "example": "te-st5-46-46545"
            },
            "sort": {
             "type": "string",
             "format": "nullable"
            },
            "main_performer": {
             "type": "array",
             "items": {
              "oneOf": [
               {
                "type": "object",
                "properties": {
                 "artist_id": {
                  "type": "string",
                  "example": "e5d46bd5-662c-45cd-8b49-c8d5eca7de97"
                 },
                 "artist_h11": {
                  "type": "integer",
                  "example": 457896
                 },
                 "name": {
                  "type": "string",
                  "example": "Artst"
                 }
                }
               },
               {
                "type": "string",
                "example": "Artst"
               }
              ]
             }
            },
            "party_id": {
             "type": "string",
             "example": "test"
            },
            "featured_artist": {
             "format": "nullable",
             "type": "array",
             "items": {
              "oneOf": [
               {
                "type": "object",
                "properties": {
                 "artist_id": {
                  "type": "string",
                  "example": "e5d46bd5-662c-45cd-8b49-c8d5eca7de97"
                 },
                 "artist_h11": {
                  "type": "integer",
                  "example": 457896
                 },
                 "name": {
                  "type": "string",
                  "example": "Artst"
                 }
                }
               },
               {
                "type": "string",
                "example": "Artst"
               }
              ]
             }
            },
            "producer": {
             "type": "string",
             "format": "nullable"
            },
            "generate_isrc": {
             "type": "boolean",
             "example": false
            },
            "collect_rewards": {
             "type": "string",
             "format": "nullable"
            },
            "uuid_draft": {
             "type": "string"
            },
            "updated_at": {
             "type": "string",
             "example": "2023-10-13T08:41:00.000000Z"
            },
            "created_at": {
             "type": "string",
             "example": "2023-10-13T08:41:00.000000Z"
            },
            "id": {
             "type": "integer",
             "format": "int32",
             "example": 398
            },
            "generate_catalog_number": {
             "type": "boolean",
             "format": "nullable"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/composition/{compositionId}/step": {
   "post": {
    "tags": [
     "Репертуар.Произведение"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Изменить шаг произведения",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "compositionId",
      "description": "Идентификатор произведения",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "step",
      "description": "Шаг материала на экране",
      "schema": {
       "type": "string",
       "enum": [
        "info",
        "authors",
        "recordings",
        "compeleted",
        "parsed"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkAuthResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/composition/{compositionId}/lyrics": {
   "put": {
    "tags": [
     "Репертуар.Произведение"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Добавить лирику произведения",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "compositionId",
      "description": "Идентификатор произведения",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "parental_warning_type",
      "description": "Наличие ненормативной лексики",
      "schema": {
       "type": "string",
       "enum": [
        "explicit",
        "not_explicit"
       ]
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "is_instrumental",
      "description": "Булево значение - содержит ли исполнение произведения",
      "schema": {
       "type": "boolean",
       "example": 1
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "responsibility",
      "description": "Булево значение - Согласие за ответственность",
      "schema": {
       "type": "boolean",
       "example": 1
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "lyrics",
      "description": "Текст лирики",
      "schema": {
       "type": "string",
       "example": "text"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "language",
      "description": "Язык исполнения",
      "schema": {
       "type": "integer",
       "example": 1
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "title",
      "description": "Заголовок",
      "schema": {
       "type": "string",
       "example": "description"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "composition_type_id",
      "description": "Тип произведения",
      "schema": {
       "type": "integer",
       "example": 1
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "created_country_id",
      "description": "Старана создания",
      "schema": {
       "type": "integer",
       "example": 1
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "created_date",
      "description": "Дата создания",
      "schema": {
       "type": "string",
       "example": "2024-06-12"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Ответ",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "data": {
           "type": "object",
           "properties": {
            "account_id": {
             "type": "integer"
            },
            "id": {
             "type": "integer"
            },
            "title": {
             "type": "string"
            },
            "subtitle": {
             "type": "string"
            },
            "composition_type_id": {
             "type": "string"
            },
            "genres": {
             "type": "array",
             "items": {
              "type": "string"
             }
            },
            "iswc": {
             "type": "string"
            },
            "recording_id": {
             "nullable": true,
             "type": "string"
            },
            "alternative_title": {
             "type": "string"
            },
            "created_date": {
             "type": "string",
             "format": "date-time"
            },
            "created_country_id": {
             "type": "integer"
            },
            "step": {
             "type": "string"
            },
            "performed": {
             "nullable": true,
             "type": "string"
            },
            "parental_warning_type": {
             "type": "string"
            },
            "language": {
             "type": "integer"
            },
            "contributors": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "id": {
                "type": "integer"
               },
               "roles": {
                "type": "array",
                "items": {
                 "type": "string"
                }
               },
               "society_id": {
                "nullable": true,
                "type": "string"
               },
               "ownership": {
                "type": "string"
               },
               "publisher": {
                "nullable": true,
                "type": "string"
               },
               "publisher_share": {
                "type": "string"
               },
               "controlled_by_submitter": {
                "type": "integer"
               },
               "title": {
                "type": "string"
               },
               "contributor_author_id": {
                "type": "object",
                "properties": {
                 "artist_id": {
                  "type": "string"
                 },
                 "artist_h11": {
                  "nullable": true,
                  "type": "string"
                 },
                 "name": {
                  "type": "string"
                 }
                }
               },
               "publisher_author_id": {
                "nullable": true,
                "type": "string"
               }
              }
             }
            },
            "recordings": {
             "type": "array",
             "items": {}
            },
            "lyrics_id": {
             "type": "object",
             "properties": {
              "id": {
               "type": "string"
              },
              "client_name": {
               "type": "string"
              },
              "type": {
               "type": "string"
              },
              "size": {
               "type": "integer"
              },
              "url": {
               "type": "string",
               "format": "uri"
              },
              "account_id": {
               "type": "integer"
              },
              "deleted_at": {
               "nullable": true,
               "type": "string"
              },
              "move": {
               "type": "integer"
              },
              "additional": {
               "type": "integer"
              }
             }
            },
            "is_instrumental": {
             "nullable": true,
             "type": "boolean"
            }
           }
          },
          "ai_analyze": {
           "type": "object",
           "properties": {
            "matches": {
             "type": "array",
             "items": {
              "type": "object",
              "properties": {
               "match": {
                "type": "string"
               },
               "category": {
                "type": "string"
               }
              }
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/recording/{recordingId}/lyrics": {
   "put": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "summary": "Добавить лирику для фонограммы",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентиификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "recordingId",
      "description": "Идентификатор фонограммы",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "parental_warning_type",
      "description": "Наличие ненормативной лексики",
      "schema": {
       "type": "string",
       "enum": [
        "explicit",
        "not_explicit"
       ]
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "is_instrumental",
      "description": "Булево значение - содержит ли исполнение фонограмма",
      "schema": {
       "type": "boolean",
       "example": 1
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "lyrics",
      "description": "Текст лирики",
      "schema": {
       "type": "string",
       "example": "text"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "language",
      "description": "Язык фонограммы",
      "schema": {
       "type": "integer",
       "example": 1
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/RecordingDataResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}": {
   "put": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Обновить информацию о релизе",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "account_id",
         "genres",
         "p_line",
         "c_line",
         "date_c_line",
         "date_p_line",
         "performers",
         "release_type_id",
         "title"
        ],
        "properties": {
         "title": {
          "required": true,
          "description": "Заголовок релиза",
          "type": "string",
          "example": 1231232
         },
         "subtitle": {
          "description": "Подзаголовок релиза",
          "type": "string",
          "format": "nullable"
         },
         "release_type_id": {
          "required": true,
          "description": "Идентификатор типа релиза - из запроса справочника",
          "type": "integer",
          "format": "int32",
          "example": 2
         },
         "performers": {
          "required": true,
          "description": "Executor",
          "type": "array",
          "items": {
           "type": "string",
           "description": "Artist ID",
           "example": "910ee3b8-d6a7-4c1e-9b8f-6820737aa8f6"
          }
         },
         "genres": {
          "required": true,
          "description": "Жанры (Выберите не более трех жанров)",
          "type": "array",
          "items": {
           "type": "string",
           "example": "Acid Jazz"
          }
         },
         "grid": {
          "description": "GRID",
          "type": "string",
          "format": "nullable"
         },
         "ean": {
          "description": "EAN",
          "type": "string",
          "format": "nullable"
         },
         "step": {
          "description": "Шаг модерации материала",
          "type": "string",
          "example": "tracks"
         },
         "catalog_number": {
          "description": "Номер каталога",
          "type": "string",
          "format": "nullable"
         },
         "generate_catalog_number": {
          "description": "автоматическая генерация каталожного номера (Если принимает положительное значение - 'catalog_number' не учитывается)",
          "type": "boolean",
          "example": true
         },
         "generate_ean": {
          "description": "автоматическая генерация ean номера (Если принимает положительное значение - 'ean' не учитывается)",
          "type": "boolean",
          "example": true
         },
         "account_id": {
          "required": true,
          "description": "Идентификатор аккаунта",
          "type": "integer",
          "format": "int32",
          "example": 2904
         },
         "p_line": {
          "required": true,
          "description": "p_line",
          "type": "string"
         },
         "c_line": {
          "required": true,
          "description": "c_line",
          "type": "string"
         },
         "date_p_line": {
          "required": true,
          "description": "Год регистрации p-line",
          "type": "string"
         },
         "date_c_line": {
          "required": true,
          "description": "Год регистрации с-line",
          "type": "string"
         },
         "various_artists": {
          "description": "Множество исполнителей",
          "type": "boolean",
          "format": "nullable"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/ReleaseDataResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/data": {
   "get": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Получить информацию о релизе",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/ReleaseDataResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/additional/": {
   "post": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Добавить дополнительный TikTok / RT релиз",
    "parameters": [
     {
      "in": "query",
      "required": true,
      "name": "release_type_id",
      "description": "Идентификатор типа релиза",
      "schema": {
       "type": "integer",
       "enum": [
        70,
        43
       ]
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "generate_ean",
      "description": "Автоматическая генерация ean",
      "schema": {
       "type": "boolean",
       "example": true
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "generate_catalog_number",
      "description": "Автоматическая генерация catalog_number",
      "schema": {
       "type": "boolean",
       "example": true
      }
     },
     {
      "in": "query",
      "required": false,
      "name": "ean",
      "description": "ean",
      "schema": {
       "type": "string"
      }
     },
     {
      "in": "query",
      "required": false,
      "name": "grid",
      "description": "grid",
      "schema": {
       "type": "string"
      }
     },
     {
      "in": "query",
      "required": false,
      "name": "catalog_number",
      "description": "catalog_number",
      "schema": {
       "type": "string"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "account_id",
      "description": "account_id",
      "schema": {
       "type": "integer",
       "example": 149916
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "parent_release",
      "description": "Идентификатор родительского релиза",
      "schema": {
       "type": "integer",
       "example": 336
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "parent_recording",
      "description": "Идентификатор родительского трека",
      "schema": {
       "type": "integer",
       "example": 336
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "sale_start_date",
      "description": "Дата начала публикации",
      "schema": {
       "type": "string",
       "example": "2023-09-01"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "snippet_start",
      "schema": {
       "type": "string",
       "example": "00:10:000"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "snippet_end",
      "schema": {
       "type": "string",
       "example": "00:40:990"
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/AdditionalDataResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/additional/{additionalID}": {
   "put": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Отредактировать дополнительный TikTok / RT релиз",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "additionalID",
      "description": "id",
      "schema": {
       "type": "integer",
       "example": 70
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "release_type_id",
      "description": "Идентификатор типа релиза",
      "schema": {
       "type": "integer",
       "enum": [
        70,
        43
       ]
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "generate_ean",
      "description": "Автоматическая генерация ean",
      "schema": {
       "type": "boolean",
       "example": true
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "generate_catalog_number",
      "description": "Автоматическая генерация catalog_number",
      "schema": {
       "type": "boolean",
       "example": true
      }
     },
     {
      "in": "query",
      "required": false,
      "name": "ean",
      "description": "ean",
      "schema": {
       "type": "string"
      }
     },
     {
      "in": "query",
      "required": false,
      "name": "grid",
      "description": "grid",
      "schema": {
       "type": "string"
      }
     },
     {
      "in": "query",
      "required": false,
      "name": "catalog_number",
      "description": "catalog_number",
      "schema": {
       "type": "string"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "account_id",
      "description": "account_id",
      "schema": {
       "type": "integer",
       "example": 149916
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "parent_release",
      "description": "Идентификатор родительского релиза",
      "schema": {
       "type": "integer",
       "example": 336
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "parent_recording",
      "description": "Идентификатор родительского трека",
      "schema": {
       "type": "integer",
       "example": 336
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "sale_start_date",
      "description": "Дата начала публикации",
      "schema": {
       "type": "string",
       "example": "2023-09-01"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "snippet_start",
      "schema": {
       "type": "string",
       "example": "00:10:000"
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "snippet_end",
      "schema": {
       "type": "string",
       "example": "00:40:990"
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/RecordingDataResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/dictionaries/genres": {
   "get": {
    "tags": [
     "Словари"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Получить список жанров",
    "parameters": [
     {
      "in": "query",
      "required": true,
      "name": "object_type",
      "description": "Тип материала",
      "schema": {
       "type": "string",
       "example": "music"
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkAuthResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/dictionaries/languages": {
   "get": {
    "tags": [
     "Словари"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Получить список языков",
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkAuthResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/accounts/{accountId}/repertoire/upload": {
   "post": {
    "deprecated": true,
    "tags": [
     "Репертуар.Каталог"
    ],
    "summary": "Отправить каталог",
    "description": "Загрузите готовый каталог (в CSV,XLS-шаблоне в виде Heaven 11 или CWR 2.1/2.2)",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "accountId",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "file": {
          "description": "Файл",
          "type": "string",
          "format": "binary"
         },
         "type": {
          "description": "Тип каталога",
          "type": "string",
          "example": "new"
         },
         "text": {
          "description": "Текст",
          "type": "string",
          "example": "new"
         },
         "no_file": {
          "description": "отмена загрузки файла",
          "type": "boolean",
          "example": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "413": {
      "description": "Размер файла каталога слишком велик"
     }
    }
   }
  },
  "/repertoire/account/{accountId}/catalog": {
   "post": {
    "tags": [
     "Репертуар.Каталог"
    ],
    "summary": "Создание каталога",
    "description": "Создание каталога",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "accountId",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "name": "type",
      "required": false,
      "in": "query",
      "description": "Тип",
      "schema": {
       "type": "string",
       "enum": [
        "new",
        "change",
        "takedown"
       ]
      }
     },
     {
      "name": "text",
      "required": false,
      "in": "query",
      "description": "Текст",
      "schema": {
       "type": "string",
       "example": "Text"
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Положительный ответ",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "type": {
              "type": "string",
              "example": "new"
             },
             "text": {
              "type": "string",
              "example": "text"
             },
             "user_id": {
              "type": "integer",
              "example": 251
             },
             "account_id": {
              "type": "integer",
              "example": 1245
             },
             "updated_at": {
              "type": "string",
              "example": "2024-05-16T14:58:11.000000Z"
             },
             "created_at": {
              "type": "string",
              "example": "2024-05-16T14:58:11.000000Z"
             },
             "id": {
              "type": "integer",
              "example": 1
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/account/{accountId}/catalog/{catalogId}/file": {
   "post": {
    "tags": [
     "Репертуар.Каталог"
    ],
    "summary": "Загрузить файл каталога",
    "description": "Загрузить файл каталога",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "accountId",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "catalogId",
      "description": "Идентификатор каталога",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "file": {
          "type": "string",
          "description": "Binary file",
          "format": "binary"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Положительный",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "properties": {
             "id": {
              "description": "Идентификатор файла",
              "type": "string",
              "example": "12eaad11-5701-4544-8cac-b29b56fae40a"
             },
             "client_name": {
              "description": "Наименование файла",
              "type": "string",
              "example": "excel.xlsx"
             },
             "type": {
              "description": "Тип",
              "type": "string",
              "example": "repertoire"
             },
             "size": {
              "description": "Размер",
              "type": "integer",
              "format": "int32",
              "example": 37214790
             },
             "url": {
              "description": "путь до Файла",
              "type": "string"
             },
             "account_id": {
              "description": "Идентификатор аккаунта",
              "type": "string",
              "format": "nullable"
             }
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/account/{accountId}/catalog/{catalogId}/file/{fileId}": {
   "delete": {
    "tags": [
     "Репертуар.Каталог"
    ],
    "summary": "Удалить файл каталога",
    "description": "Удалить файл каталога",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "accountId",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "catalogId",
      "description": "Идентификатор каталога",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "fileId",
      "description": "Идентификатор файла",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Положительный",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "data": {
           "type": "boolean",
           "example": true
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/account/{accountId}/catalog/{catalogId}": {
   "post": {
    "tags": [
     "Репертуар.Каталог"
    ],
    "summary": "Отправить каталог",
    "description": "Загрузите готовый каталог (в CSV,XLS-шаблоне в виде Heaven 11 или CWR 2.1/2.2)",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "accountId",
      "description": "Идентификатор аккаунта",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "catalogId",
      "description": "Идентификатор каталога",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "type": {
          "description": "тип",
          "type": "string",
          "example": "new"
         },
         "text": {
          "description": "текст",
          "type": "string",
          "example": "new"
         },
         "no_file": {
          "description": "отмена загрузки файла",
          "type": "boolean",
          "example": false
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "413": {
      "description": "The directory file size is too large"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/recording/upload": {
   "post": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Загрузить фонограмму к релизу",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "description": "Идентификатор релиза",
      "name": "releaseId",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "required": [
         "file",
         "sort"
        ],
        "properties": {
         "file": {
          "required": true,
          "type": "string",
          "description": "Бинарный файл",
          "format": "binary"
         },
         "sort": {
          "required": true,
          "description": "Значение сортировки",
          "type": "string",
          "example": 1
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkAuthResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/recording/{recordingId}/file/update": {
   "post": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Обновить  фонограмму у релиза",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "recordingId",
      "description": "Идентификатор фонограммы",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "requestBody": {
     "content": {
      "multipart/form-data": {
       "schema": {
        "type": "object",
        "properties": {
         "file": {
          "type": "string",
          "description": "Binary file",
          "format": "binary"
         }
        }
       }
      }
     }
    },
    "responses": {
     "200": {
      "description": "Положительный ответ",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          },
          "data": {
           "type": "boolean",
           "example": true
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/step": {
   "post": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Изменить шаг релиза",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "query",
      "required": true,
      "name": "step",
      "description": "Шаг для просмотра релиза в интерфейсе",
      "schema": {
       "type": "string",
       "enum": [
        "release",
        "file",
        "tracks",
        "lyrics",
        "authors",
        "cover",
        "distribution",
        "confirm"
       ]
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkAuthResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/recording/list": {
   "get": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Получить список фонограмм",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Ответ",
      "content": {
       "application/json": {
        "schema": {
         "properties": {
          "status": {
           "type": "string"
          },
          "data": {
           "type": "array",
           "items": {
            "type": "object",
            "example": {
             "title": "string",
             "subtitle": "string",
             "performers": [
              "array",
              "array"
             ],
             "main_performer": [
              "array",
              "array"
             ],
             "featured_artist": [
              "array",
              "array"
             ],
             "genres": "array",
             "created_date": "2022-03-11",
             "parental_warning_type": "explicit",
             "isrc": "123123123",
             "catalog_number": "1453",
             "recording_type_id": "1",
             "created_country_id": 1,
             "language": 1,
             "created_at": "2022-03-11 09:38:14",
             "updated_at": "2022-03-11 09:38:14",
             "file": {
              "id": "0f5fb45d-7bf3-4055-ac07-7742bcfe7b9d"
             },
             "snippet_start": "00:01:311",
             "snippet_end": "00:55:311"
            }
           }
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/recording/{recordingId}/data": {
   "get": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Получить информацию о фонограмме",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "description": "Идентификатор фонограммы",
      "name": "recordingId",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/RecordingDataResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "404": {
      "$ref": "#/components/responses/NotFoundErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/recording/{recordingId}/remove": {
   "delete": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Удалить фонограмму",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "path",
      "required": true,
      "name": "recordingId",
      "description": "Идентификатор фонограммы",
      "schema": {
       "type": "integer",
       "example": 456
      }
     }
    ],
    "responses": {
     "200": {
      "description": "Ответ",
      "content": {
       "application/json": {
        "schema": {
         "type": "object",
         "properties": {
          "status": {
           "type": "string"
          }
         }
        }
       }
      }
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "404": {
      "$ref": "#/components/responses/NotFoundErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/reorder": {
   "post": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Изменить порядок сортировки фонограмм",
    "description": "Измените порядок следования треков в релизе, перенеся новый порядок recording.id",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "description": "Идентификатор релиза",
      "name": "releaseId",
      "schema": {
       "type": "integer",
       "example": 456
      }
     },
     {
      "in": "query",
      "required": true,
      "description": "Идентификаторы треков",
      "name": "recordings",
      "schema": {
       "type": "array",
       "items": {
        "type": "integer",
        "default": 10
       }
      }
     }
    ],
    "responses": {
     "200": {
      "$ref": "#/components/responses/OkAuthResponse"
     },
     "401": {
      "$ref": "#/components/responses/UnauhtorizedErrorResponse"
     },
     "422": {
      "$ref": "#/components/responses/ValidationErrorResponse"
     }
    }
   }
  },
  "/repertoire/release/{releaseId}/recording/{recordingId}": {
   "put": {
    "tags": [
     "Репертуар.Релиз"
    ],
    "security": [
     {
      "ApiKeyAuth": []
     }
    ],
    "summary": "Обновить информацию о фонограмме",
    "parameters": [
     {
      "in": "path",
      "required": true,
      "name": "releaseId",
      "description": "Идентификатор релиза",
      "schema": {
       "type": "integer",
       "example": 1
      }
     },
     {
      "in": "path",
      "required": true,
      "description": "Идентификатор фонограммы",
      "name": "recordingId",
      "schema": {
       "type": "integer",
       "example": 5
      }
     }
    ],
    "requestBody": {
     "required": true,
     "content": {
      "application/json": {
       "schema": {
        "required": [
         "title",
         "id",
         "is_instrumental",
         "performers",
         "genres",
         "parental_warning_type",
         "language",
         "created_country_id",
         "main_performer",
         "party_id",
         "producer",
         "generate_isrc",
         "generate_catalog_number"
        ],
        "properties": {
         "id": {
          "description": "Идентификатор фонограммы",
          "type": "integer",
          "example": 5
         },
         "title": {
          "required": true,
          "description": "Наименование трека",
          "type": "string",
          "example": "test"
         },
         "sort": {
          "required": true,
          "description": "Значение сортировки",
          "type": "string",
          "example": 1
         },
         "is_instrumental": {
          "required": true,
          "description": "Булево значение - содержит ли исполнение фонограмма",
          "type": "boolean",
          "example": true
         },
         "lyrics": {
          "description": "Текст лирики",
          "type": "string",
          "example": "lyrics"
         },
         "subtitle": {
          "description": "Сабтайтл",
          "type": "string",
          "format": "nullable"
         },
         "performers": {
          "required": true,
          "description": "Исполнители",
          "type": "array",
          "items": {
           "type": "string",
           "description": "name string",
           "example": "name"
          }
         },
         "genres": {
          "required": true,
          "description": "Жанры (Выберите не более трех жанров)",
          "type": "array",
          "items": {
           "type": "string",
           "example": "Acid Jazz"
          }
         },
         "created_date": {
          "description": "Дата создания",
          "type": "string",
          "format": "date",
          "example": "2022-04-06"
         },
         "parental_warning_type": {
          "required": true,
          "description": "Наличие ненормативной лексики",
          "type": "string",
          "enum": [
           "explicit",
           "not_explicit"
          ]
         },
         "isrc": {
          "required": true,
          "description": "Идентификатор isrc",
          "type": "string",
          "example": "ISR654654665465"
         },
         "created_country_id": {
          "required": true,
          "description": "Идентификатор страны создания",
          "type": "integer",
          "format": "int32",
          "example": 257
         },
         "language": {
          "required": true,
          "description": "Идентификатор языка",
          "type": "integer",
          "format": "int32",
          "example": 2
         },
         "main_performer": {
          "required": true,
          "description": "Исполнитель релиза - идентичен данным созданным ранее в релизе - принимает форматы наименование/идентификатор артиста",
          "type": "array",
          "items": {
           "type": "string",
           "description": "name string",
           "example": "name"
          }
         },
         "party_id": {
          "required": true,
          "description": "Лейбл",
          "type": "string",
          "example": "test"
         },
         "featured_artist": {
          "format": "nullable",
          "required": true,
          "description": "Включенные исполнители - принимает форматы наименование/идентификатор артиста",
[...]
